
  /***************************************************************/
 /***** Vanaf hier begint mijn eigen code van de Leeslijst! *****/
/***************************************************************/

/* Custom Properties */
:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #ebebeb;
    --toggle-color: #DDD;
    --text-color: #505050;

    --border: 0.8em solid var(--sidebar-color);
    --thin-border: 0.25em solid var(--sidebar-color);
}

@media (min-width: 280px) {

/* General */
* {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

input {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.sidebar.close {
    transform: translateX(-5em);
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -50px;
}

::-webkit-scrollbar {
    display: none;
}

.home {
    transform: translateX(-5em);
}

.home > .text h1 {
    display: inline;
    margin: 0 0 0 0.75em;
    font-size: 1.3em;
    color: var(--primary-color);
    position: relative;
    bottom: 3px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid black;
    transition: 0.5s;
}

.sidebar-arrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #FFF;
    transition: 0.5s;

    position: relative;
    left: 11px;
}

.leeslijst-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid var(--primary-color);
    transition: 0.5s;
    display: inline-block;
    margin-left: 1em;
    position: relative;
    bottom: 6px;
}

.leeslijst-arrow:hover {
    transform: rotate(180deg);
}

.filters > li:hover .arrow {
    transform: rotate(180deg);
}

/* Filter-System */
.filter-system {
    position: absolute;
    left: 60px;
    z-index: 100;
}

/* Searchbar */
.searchbar {

    width: 808px;
    display: flex;
    background: var(--sidebar-color);
    padding: 1em;
    margin: 0 0 1em 0;
    align-items: center;

    & input {
        margin: 0 1em 0 1em;
        border: none;
        width: 80%;
    }

    & input:focus {
        border: none;
        outline: none;
    }
}

.searchbar-filters {
    position: absolute;
    right: 1em;
    cursor: pointer;

    & i {
        position: relative;
        top: 2px;
    }

    & label {
        cursor: pointer;
    }
}

/* General Filters */
.filters {

    display: flex;
    z-index: -100;
    flex-wrap: wrap;
    gap: 0.5em;
    position: absolute;
    top: 0;
    transition: var(--tran-05);

    & li {
        cursor: pointer;
    }

    & p {
        margin: auto;
        padding: 0 0 0 2em;
    }
    
    & > li:hover .dropdown {
        background-color: var(--sidebar-color);
        display: block;
        padding: 1em;
    }

}

.show {
    top: 4em;
    transition: var(--tran-05);
}

.filter-name {
    width: 180px;
    background-color: var(--sidebar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    & button {
        background-color: transparent;
        border: none;
    }
}

  #genre {
    width: 180px;
} #language {
    width: 150px;
} #type {
    width: 250px;
}

/* General Dropdowns */
.dropdown {
    display: none;
}

.dropdown > li > input {
    float: right;
}

/* Results */
.results {

    position: absolute;
    bottom: 60px;
    left: 60px;
    overflow: scroll;
    width: calc(100% - 120px);
    scroll-snap-type: x mandatory;


    & h3 {
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
    }

    & ul {
        display: flex;
        flex-wrap: wrap;
    }

    & ul li {
        background-color: var(--sidebar-color); 
        text-align: center;
        width: 18em;
        height: 31.9em;
        overflow: hidden;
        margin-right: 1em;
        scroll-snap-align: start;
    }

    & ul li:hover .small-slide {
        position: relative;
        top: -100px;
        transition: 0.5s;
    }

    & ul li:hover .big-slide {
        position: relative;
        top: -100px;
        transition: 0.5s;
        opacity: 100%;
    }

    & ul li img {
        padding: 1em 1em 0 1em;
        width: 18em;
        height: 25em;
    }

}

.small-slide {
    position: relative;
    top: 0;
    transition: 0.5s;
}

.big-slide {
    position: relative;
    padding: 0 0.75em 0 0.75em;
    top: 100px;
    transition: 0.5s;
    opacity: 0%;
}

.hide {
    animation: hidden 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

@keyframes hidden {
    25% {
        opacity: 100%;
    }
    100% {
        opacity: 0%; 
        display: none;
        transform: translateY(31.9em);
    }
}

}

@media (min-width: 950px) {

.sidebar.close {
    transform: none;
}

.sidebar.close .name {
    width: 5px;
}

.sidebar.close .profession {
    width: 5px;
}

.sidebar header .toggle{
    position: absolute;
     top: 50%;
    right: -25px;
}

.home {
    transform: none;
}

.filters {
    gap: 1em;
}

.results {

    & ul {
        display: flex;
        flex-wrap: nowrap;
    }

}

}

  /*******************************************************************/
 /***** Vanaf hier begint mijn eigen code van de Reserveringen! *****/
/*******************************************************************/

.reservering-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid var(--primary-color);
    transition: 0.5s;
    display: inline-block;
    margin-left: 1em;
    position: relative;
    bottom: 6px;
}

.reservering-arrow:hover {
    transform: rotate(180deg);
}


  /******************************************************************/
 /***** Vanaf hier begint mijn eigen code van de Detailpagina! *****/
/******************************************************************/

.geschiedenis-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid var(--primary-color);
    transition: 0.5s;
    display: inline-block;
    margin-left: 1em;
    position: relative;
    bottom: 6px;
}

.geschiedenis-arrow:hover {
    transform: rotate(180deg);
}

h2:nth-of-type(1) {
    display: inline;
    margin: 0 0 0 0.75em;
    font-size: 1.3em;
    position: relative;
    bottom: 3px;
}



.bookdetails {

    position: absolute;
    left: 60px;
    right: 60px;
    padding: 2em;
    background-image: linear-gradient(
        #60504D 210px,
        var(--sidebar-color) 210px
    );

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    "image author reservation"
    "image title title"
    "image summary summary"
    "suggestion suggestion suggestion"
    "authinfo authinfo authinfo";

    /* === Headers === */

    & h2 {
        font-size: 3.25em;
        padding-left: 1em;
        margin-top: -0.25em;  
        color: var(--sidebar-color);

        grid-area: title;
    }

    & h2:nth-of-type(2) {
        font-weight: 100;
        font-size: 2em;
        padding-left: 1.62em;
        color: var(--sidebar-color);
        
        grid-area: author;
        align-self: end;
    }

    & h3{
        grid-area: details;
        align-self: end; 
    } 

    & > h3:nth-of-type(1){
        padding-left: 2.25em;
    }  

    /* === Images === */

    & #book-cover {
        max-width: 22em;
        border: var(--border);

        grid-area: image;
    }

    /* === Buttons === */
        
    & > button {
        background-color: var(--sidebar-color);
        color: var(--text-color);
        border: var(--thin-border);
        transition: var(--tran-05);
        scale: 0.8;

        grid-area: reservation;
    }

    & > button:hover {
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        transition: var(--tran-05);
        cursor: pointer;
    }

    & button > h3 {
        padding: 0;
    }

    /* === Paragraphs === */

    & .summary {
        padding-left: 2em;
        max-width: 80%;

        grid-area: summary;
        align-self: center;
    }
}

.recommended {
    padding-top: 2.5em;
    position: relative;

    grid-area: suggestion;

    & > ul {
        display: flex;
        overflow-x: scroll;
        margin: 0 3em 0 3em;
        list-style: none;
    }

    & ul li img {
        max-width: 12em;
        margin-left: -0.6em;
    }

    & button {
        height: 65px;
        aspect-ratio: 1 / 1;
        position: absolute;
        background: transparent;
        border: none;
        font-size: 3em;
        transition: var(--tran-05);
        color: var(--text-color);
    }

    & button:hover {
        scale: 1.25;
        transition: var(--tran-05);
    }

    & button:nth-of-type(1) {
        bottom: 140px;
        left: 5px;
    }

    & button:nth-of-type(2) {
        bottom: 140px;
        right: 5px;
    }

}

.authinfo {
    max-width: 90%;
    padding-top: 2em;

    grid-area: authinfo;

    & > h3 > button {
        background-color: transparent;
        border: none;
        color: var(--text-color);
        opacity: 80%;
        scale: 1.2;
        padding-left: 1em;
        cursor: pointer;
    }

    & h4 {
        font-size: 1.3em;
        padding: 1em 0 0.3em 1.58em;
    }

    .dropdown {
        display: none;

        & > p {
            max-width: 70%;
        }

    }

    .dropdown-open {
        display: block;
    }

    & #elsa {
        float: right;
        margin-top: -20em;
    }

}


























/* Fonts being used by the oba */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

/* Custom properties */
/* :root {
    --red:#FF0000;
    --dark-color:#ce0000;
    --black:#000000;
    --gray:#666;
    /* --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1); 
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #FF0000;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}


body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: AvenirMedium;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar .text-long,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text-long{
    font-size: 17px;
    font-weight: 500;
    resize: none;
    opacity: 1;
}
.sidebar.close .text-long{
    resize: none;
    opacity: 0;
}

/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 3rem;
    border-radius: 180px;
}

.sidebar header .toggle{
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
    align-items: center;
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 18px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 88px;
    height: 100vh;
    width: calc(100% - 88px);
}
body.dark .home .text{
    color: var(--text-color);
}